<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.weebstore">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.example.weebstore.ViewOrdersActivity" />
        <activity android:name="com.example.weebstore.Category.KidsActivity" />
        <activity android:name="com.example.weebstore.Category.WomenActivity" />
        <activity android:name="com.example.weebstore.Category.MenActivity" />
        <activity android:name="com.example.weebstore.Category.CategoryListActivity" />
        <activity android:name="com.example.weebstore.WishListActivity" />
        <activity android:name="com.example.weebstore.ForgetPasswordActivity" />
        <activity android:name="com.example.weebstore.Admin.AdminMaintainProductsActivity" />
        <activity android:name="com.example.weebstore.SearchProductsActivity" />
        <activity android:name="com.example.weebstore.Admin.AdminUsersProductsActivity" />
        <activity android:name="com.example.weebstore.Admin.AdminNewOrdersActivity" />
        <activity android:name="com.example.weebstore.ConfirmOrderActivity" />
        <activity android:name="com.example.weebstore.CartActivity" />
        <activity
            android:name="com.example.weebstore.SplashActivity"
            android:theme="@style/SplashTheme"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.example.weebstore.ProductDetailsActivity" />
        <activity android:name="com.example.weebstore.SettingsActivity" />
        <activity
            android:name="com.example.weebstore.HomeActivity"
            android:label="@string/title_activity_home"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name="com.example.weebstore.Admin.AdminCategoryActivity" />
        <activity android:name="com.example.weebstore.Admin.AdminAddProductActivity" />
        <activity android:name="com.example.weebstore.RegisterActivity" />
        <activity android:name="com.example.weebstore.LoginActivity" />
        <activity android:name="com.example.weebstore.MainActivity">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity> <!-- (edited by urme) optional (needed if default theme has no action bar) -->
        <activity
            android:name="com.theartofdev.edmodo.cropper.CropImageActivity"
            android:theme="@style/Base.Theme.AppCompat" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>